<%#= byebug %>

<%= form_for @node, html: { class: 'well form', role: 'form' } do |nform| %>
 <%= render partial: 'shared/error_messages', object: @node %>

  <div class="form-group">
    <%#= nform.label :node_type, 'Type:' %>
    <%= nform.select(:node_type_id, @node_types.map { |n| [n.name_display, n.id]}) %>
    <%= nform.label :name_display, 'Item:' %>
    <%#= nform.text_field :name_display, class: 'form-control' %>
    <%= nform.text_field :name_display %>
  </div>

  <h4>No of Items: <%= @node.node_attrbs.length %></h4>

  <%= puts @node.node_attrbs(:id) %>
    <div class="container">
      <div class="row">
        <div class="col-md-11">
          <table class="table table-stripped">
              <tbody>
                <% if @node.node_attrbs(:id) %>
                  <% @node.node_attrbs.each do |nae| %>
                    <tr>
                      <%= nform.fields_for :node_attrbs, nae do |nafor| %>
                        <%# if nafor.object.active? %>
                        <%#NodeAttrb.first.nodeattr[:name_display]%>
                        <%#= nafor.nodeattr.label :name_display %>
          
                        <td class="col-md-1">    
                          <%= nafor.select(:node_type_id, @node_attrtypes.map { |n| [n.name_display, n.id]}) %> 
                        </td>
                          <%#= nafor.label :name_display, nae.nodeattr.name_display %>
                        <td class="col-md-5"> 
                          <p class="text-wrap"> 
                          <%# ?? Do not know how to make this field to wrap %>
                          <%= nafor.text_field :name , class: "col-md-12 control-label" %>  
                          </p>
                        </td>
            
                        <%# node_attrbs#destroy %>
                        <%#= link_to 'Edit Ad', [:edit, @magazine, @ad] %>
                        <%#= link_to 'Edit', [:edit, @node, @node_attrb] %>
                        <%#= link_to 'Del', [:destroy, @node, @node_attrb] %>
                        <%#= link_to 'New', [:new, @node, @node_attrb] %>
                        <%#= link_to 'New', @new_node_node_attrb %>
                        
                        <td class="col-md-3"> 
                          <%= nafor.text_field :url_short,:readonly => true, :size => 30%> 
                        </td>
                        <td class="col-md-1"  >
                          <%= nafor.text_field :url_rank, :readonly => true, :size => 2 %> 
                        </td>
             
                        <%#= link_to "Del", controller: "node_attrbs", action: "destroy", id: nae.id  did not work was a HACK with show%>
                        <td class="col-md-1"> 
                          <%= link_to 'Del', node_attrb_path(nae), method: :delete %> 
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %> 
              </tbody>
          </table>
        </div>
      </div>
    </div>

  <%#= link_to 'New Attr', @new_node_node_attrb %>
  <%# byebug %>
  
  <%if @node[:id]  %> 
  
    <%= link_to "New Sub-Item", new_node_node_attrb_path(@node[:id]) %>
  
    <%= "(URLs need a HTTP prefix)" %>
    <%#= link_to "Save Updates",        edit_node_path(@node[:id]) %><%# ?? WHY DOES THIS NOT WORK ?? %>
    <%#= link_to "Save Updates", nodeupdate_path(@node[:id]), method: :update %><%# this works but full params list is not passed %>
    <br><br>
    <%# ?? WHAT IS A BETTER WAY TO PASS PARAMS?" %>
    <%= submit_tag "Save Updates", :name => "xxxx" %>
  <% end %>
  <br>
  <br>
  <%= submit_tag "Save" %>
<% end %>